<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Novelsolar Academy - where innovation meets sustainability!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Learning, Innovation, Sustainability, Education" name="keywords">
    <meta content="Novelsolar Academy - where innovation meets sustainability!" name="description">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
        <div class="row py-2 px-lg-5">
            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center text-white">
                    <small><i class="fa fa-phone-alt mr-2"></i>+2348113695917</small>
                    <small class="px-3">|</small>
                    <small><i class="fa fa-envelope mr-2"></i>novelsolaracademy@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="{{ url_for('home') }}" class="navbar-brand ml-lg-3">
                <h3 class="m-0 text-uppercase text-primary"><img
                        style="height: 80%;width: 80%; padding-left: 30%;margin-bottom: -13%; "
                        src="{{ url_for('static', filename='img/Movelsolar Academy (2).png') }}"
                        alt="Novelsolar Academy logo"></h3>
                <!--<h3 class="m-0 text-primary" style="height: 80%; width: 60%; padding-right: 10%;  ">NOVELSOLAR ACADEMY</h3> -->
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mx-auto py-0">
                    <a href="{{ url_for('home') }}" class="nav-item nav-link active">Home</a>
                    <a href="#About-us" class="nav-item nav-link">About</a>
                    <a href="{{ url_for('courses') }}" class="nav-item nav-link">Courses</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu m-0">
                            <a href="#" class="dropdown-item">Course Detail</a>
                            <a href="#" class="dropdown-item">Our Features</a>
                            <a href="{{ url_for('team') }}" class="dropdown-item">Instructors</a>
                            <a href="#" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>
                    <a href="#Contact" class="nav-item nav-link">Contact</a>
                </div>

            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Flash Messages -->
    <div class="container-fluid px-0">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show m-0 rounded-0"
            role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <!-- Header Start -->

    <div class="jumbotron jumbotron-fluid position-relative overlay-bottom" style="margin-bottom: 90px;">
        <div class="container text-center my-5 py-5">
            <h5 class="text-white display-3 mb-5">Welcome to <span class="typed-text-output"></span></h5>
            <h3 class="text-white mt-4 mb-4"> Start your journey toward a cleaner and brighter future.</h3>
            <!--<h1 class="text-white display-1 mb-5">Education Courses</h1>-->
            <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item course-option"
                                href="{{ url_for('solar_design_installation') }}">Solar Design and Installation</a>
                            <a class="dropdown-item course-option"
                                href="{{ url_for('solarpreneurship') }}">Solarpreneurship and Business Management</a>
                            <a class="dropdown-item course-option" href="{{ url_for('repair_maintenance') }}">Repair and
                                Maintenance</a>
                            <a class="dropdown-item course-option" href="{{ url_for('hse_management') }}">HSE (Health,
                                Safety, and Environment)
                                Management</a>
                            <a class="dropdown-item course-option" href="{{ url_for('ai_robotics') }}">Artificial
                                Intelligence and Robotics</a>
                            <a class="dropdown-item course-option" href="{{ url_for('web_development') }}">Web design
                                and Development</a>
                            <a class="dropdown-item course-option" href="{{ url_for('digital_marketing') }}">Digital
                                Marketing</a>
                        </div>
                    </div>
                    <input type="text" class="form-control border-light course-keyword-search"
                        style="padding: 30px 25px;" placeholder="Search for a course">
                    <div class="input-group-append">
                        <button class="btn btn-secondary px-4 px-lg-5">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5" id="About-us">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100"
                            src="{{ url_for('static', filename='img/academy building.png') }}"
                            style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">Your Best Choice For Renewable Energy and Tecnology Education</h1>
                    </div>
                    <p><strong>NOVELSOLAR ACADEMY</strong> was established in September 2015, We are a leading
                        institution
                        committed to providing high-quality training in solar energy and modern renewable technologies.
                        With over 1,000 graduates, our academy has played a major role in shaping skilled professionals
                        who now contribute
                        meaningfully across the renewable energy sector.
                        We combine strong theoretical knowledge with hands-on training to ensure our students become
                        competent,
                        innovative, and industry-ready.
                        Learning takes place in a fully equipped environment that includes a modern library,
                        practical laboratory, service centre, distilling plant, product showroom, and field training
                        facilities.</p>
                    <hr>
                    <h3>Our Mission</h3>
                    <p>To inspire and prepare the next generation of solar energy leaders through accessible,
                        high-quality education and training that strengthens skills, sparks innovation,
                        and supports a sustainable future.</p>
                    <hr>
                    <h3>Our Vision</h3>
                    <p>To promote world-class innovation driven by modern technology and entrepreneurial practices.
                        We aim to produce graduates who can think creatively,
                        harness technological advancements, and become leaders in both public and
                        private sectors within Nigeria and beyond.</p>
                    <button class="btn btn-primary py-3 px-5" type="download"><a class="text-white text-uppercase"
                            href="{{ url_for('static', filename='docs/Novelsolar Introduction.pdf') }}"
                            download="NovelSolar Academy">Learn More</a></button>



                    <div class="row pt-3 mx-0 d-flex">
                        <div class="col-6 col-md-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h6 class="text-uppercase text-white">About</h6>
                                <h1 class="text-white" data-toggle="counter-up">8</h1>
                                <h6 class="text-uppercase text-white">Available<span class="d-block">Courses</span></h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h6 class="text-uppercase text-white">Over</h6>
                                <h1 class="text-white" data-toggle="counter-up">10</h1>
                                <h6 class="text-uppercase text-white">Years of Excellence</h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h6 class="text-uppercase text-white">More Than</h6>
                                <h1 class="text-white" data-toggle="counter-up">20</h1>
                                <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-6 col-md-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h6 class="text-uppercase text-white">Over</h6>
                                <h1 class="text-white" data-toggle="counter-up">1100</h1>
                                <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5 animate" data-animate="fadeInUp" data-duration="1.0s"
                    data-delay="0.1s">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?
                        </h6>
                        <h1 class="display-4">Why You Should Start Learning with Us?</h1>
                    </div>
                    <p class="mb-4 pb-2">At NovelSolar Academy, we are committed to giving you the best learning
                        experience in renewable energy.
                        Our programs are built to help you gain real skills,
                        practical knowledge, and a recognised qualification that opens doors in the industry.</p>


                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-book-reader text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Standard Training Facilities</h4>
                            <p class="m-0">Train in a modern, well-equipped environment with practical labs,
                                a full service centre, fieldwork spaces,
                                and a stocked product showroom—designed to give you real hands-on experience.</p>
                        </div>
                    </div>
                    <div style="padding-top: 5%;" class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Skilled Instructors</h4>
                            <p>Learn from experienced professionals who combine industry expertise with practical
                                teaching.
                                Our instructors guide you step-by-step to ensure you master every skill with confidence.
                            </p>
                        </div>
                    </div>

                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Nationally Recognised Certificate</h4>
                            <p>Graduate with a certificate approved by the <strong>Ministry of Education</strong>,
                                giving you credibility and a strong advantage in the renewable energy industry
                                nationwide.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100"
                            src="{{ url_for('static', filename='img/new why pic.png') }}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5" id="Courses">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6 animate" data-animate="fadeInUp" data-duration="1.0s" data-delay="0.1s">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout Our Courses</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel courses-carousel">
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/solar install.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Solar Design and Installation</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Master solar system design and installation with hands-on,
                                industry-ready training.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('solar_design_installation') }}">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/solarprenuer.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Solarpreneurship and businesses Management</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Learn how to start, manage, and scale a profitable solar energy
                                business.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('solarpreneurship') }}">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/repair.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Repair and maintenance</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Gain practical skills to diagnose, repair, and maintain solar power
                                systems.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('repair_maintenance') }}">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/hse.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">HSE (Health, Safety, and Environment) Management</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Train in essential Health, Safety,
                                and Environment standards for safe project operations.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('hse_management') }}">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/robotics.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Pratical Artificial Inteligence and Robotics</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Build real AI and robotics solutions through practical,
                                beginner-friendly projects.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('ai_robotics') }}">Course Detail</a>
                    </div>
                </div>
            </div>


            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/webdev.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Web design & development courses for beginners</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Design and build modern, responsive websites using
                                industry-standard tools.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('web_development') }}">Course Detail</a>
                    </div>
                </div>
            </div>
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ url_for('static', filename='img/digital.png') }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">Digital Marketing</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white">Learn result-driven digital marketing skills to grow brands and
                                businesses online.</span>

                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary" href="{{ url_for('digital_marketing') }}">Course Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Courses End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="section-title text-center position-relative mb-5">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">The Team</h6>
                <h1 class="display-4">Meet Our Faculty</h1>
            </div>
            <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
                <div class="team-item">
                    <img class="img-fluid w-100" src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="{{ url_for('static', filename='img/team-2.jpg') }}" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="{{ url_for('static', filename='img/team-3.jpg') }}" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid w-100" src="{{ url_for('static', filename='img/team-4.jpg') }}" alt="">
                    <div class="bg-light text-center p-4">
                        <h5 class="mb-3">Instructor Name</h5>
                        <p class="mb-2">Web Design & Development</p>
                        <div class="d-flex justify-content-center">
                            <a class="mx-1 p-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="mx-1 p-1" href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <!--<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                        <h1 class="display-4">What Say Our Students</h1>
                    </div>
                    <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum
                        sanctus dolore magna rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy
                        tempor. Vero sea ea eirmod, elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
                </div>
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est
                                ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna
                                sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-5">
                            <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                            <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est
                                ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna
                                sed stet amet elitr duo lorem</p>
                            <div class="d-flex flex-shrink-0 align-items-center mt-4">
                                <img class="img-fluid mr-4" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="">
                                <div>
                                    <h5>Student Name</h5>
                                    <span>Web Design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Testimonial Start -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" id="Contact">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 450px;">
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-primary mr-4">
                                <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Our Location</h4>
                                <p class="m-0">76, Adekunle Fajuyi Road Ibadan.
                                    Opposite Gate 3, Adamasingba Stadium, Ibadan Oyo State</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-5">
                            <div class="btn-icon bg-secondary mr-4">
                                <i class="fa fa-2x fa-phone-alt text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Call Us</h4>
                                <p class="m-0">+234 8113695917</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="btn-icon bg-warning mr-4">
                                <i class="fa fa-2x fa-envelope text-white"></i>
                            </div>
                            <div class="mt-n1">
                                <h4>Email Us</h4>
                                <p class="m-0">novelsolaracademy@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4 animate" data-animate="fadeInUp"
                        data-duration="1.0s" data-delay="0.1s">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Need Help?</h6>
                        <h1 class="display-4">Send Us A Message</h1>
                    </div>
                    <div class="contact-form">
                        <form method="post" action="{{ url_for('submit_contact') }}">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input name="name" type="text"
                                        class="form-control border-top-0 border-right-0 border-left-0 p-0"
                                        placeholder="Your Name" required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <input name="email" type="email"
                                        class="form-control border-top-0 border-right-0 border-left-0 p-0"
                                        placeholder="Your Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <input name="subject" type="text"
                                    class="form-control border-top-0 border-right-0 border-left-0 p-0"
                                    placeholder="Subject" required="required">
                            </div>
                            <div class="form-group">
                                <textarea name="message"
                                    class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5"
                                    placeholder="Message" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-md-8 offset-md-4 mb-5">
                    <a href="{{ url_for('home') }}" class="navbar-brand">
                        <h2 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Novelsolar
                            Academy</h2>
                    </a>
                    <p class="m-0">Where innovation meets sustainability!</p>
                </div>
                <!--<div class="col-md-6 mb-5">
                    <h3 class="text-white mb-4">Newsletter</h3>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 30px;"
                                placeholder="Your Email Address">
                            <div class="input-group-append">
                                <button class="btn btn-primary px-4">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>76, Adekunle Fajuyi Road Ibadan.
                        Opposite Gate 3, Adamasingba Stadium, Ibadan
                        Oyo State</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+234 8113695917</p>
                    <p><i class="fa fa-envelope mr-2"></i>novelsolaracademy@gmail.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-twitter"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="#"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="#"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Our Courses</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Solar Design and
                            Installation</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Solarpreneurship
                            and businesses Management</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Repair and
                            maintenance</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>HSE (Health,
                            Safety, and Environment) Management</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pratical Artificial
                            Inteligence and Robotics</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Digital
                            Marketing</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Web design &
                            development</a>

                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Quick Links</h3>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Admission</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Portal</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Faculties and
                            Courses</a>
                        <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Department</a>
                        <a class="text-white-50" href="#"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                        <a class="text-white-50" href="{{ url_for('admin_login') }}"><i
                                class="fa fa-angle-right mr-2"></i>Admin Login</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white-50 border-top py-4"
        style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0">Copyright &copy; <a class="text-white" href="{{ url_for('home') }}">Novelsolar
                            Academy</a>. All Rights
                        Reserved.
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0">Designed by Davies</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i
            class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/typed.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolla.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Course search filtering -->
    <script>
        $(document).ready(function () {
            $('.course-keyword-search').on('keyup', function () {
                const searchTerm = $(this).val().toLowerCase();
                const $dropdown = $(this).closest('.input-group').find('.dropdown-menu');

                // Show dropdown when user starts typing
                if (searchTerm !== '') {
                    $dropdown.addClass('show');
                }

                $('.course-option').each(function () {
                    const courseText = $(this).text().toLowerCase();
                    if (searchTerm === '' || courseText.includes(searchTerm)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            // Close dropdown when clicking outside
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.input-group-prepend').length) {
                    $('.dropdown-menu').removeClass('show');
                }
            });
        });
    </script>
</body>

</html>